extends layout

block content
	.leftbar 
	.left
	.middle
	form.signup(methot='post',action='/signup')
		.textinput
			label(for='useremail'): i.icon-envelope-alt 
			input(type='text',name='useremail',placeholder='邮箱')
		.hr
		.textinput
			label(for='password'): i.icon-lock
			input(type='password',name='password',placeholder='密码')
		input.signupbtn(type='submit',value='确认注册')
	.right
		h1.blog_name
			a(href='/') #{blog_name}
		h2.blog_description #{blog_description}