#tree{
	width: 200px;
	height: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	bottom: 0px;
	background: #222;
	color: #fff;
}
#tree a,#tree a:visited,#tree a:hover,#tree a:link{
	color: #fff;
}
#tree li{
	width: 100%;
	border-top: 1px solid #666;
	border-bottom: 1px solid #111; 
	display: block;
	text-indent: 20px
}
#tree li span{
	display: block;
	width: 100%;
	line-height: 40px;
	font-size: 18px;
}
#tree button{
	display: none;
}
#tree li ul li{
	text-indent: 40px;
}
#tree li ul li ul li{
	text-indent: 60px;
}

.dashboard
	#dashboard_main 
		float left
		display inline
		margin-left 220px
		height 1500px
		width 900px
.dash_title
	margin-top 10px
	font-size 20px
	height 40px
	line-height 40px
	color #666
	margin-left 40px
.options_form
	margin-top 40px
.options_control,.options_input
	width 700px !important
.options_submit
	width 50px
	margin-left 40px

